html
    body
        mat-toolbar(color='primary')
            span.appname
                a((click)="navigateTo('/dashboard')") Test Application


            span.example-spacer
            button(mat-icon-button='', [matMenuTriggerFor]='menu')
                .userpanel(*ngIf='user_photo')
                    .username
                        | {{ user_name }}
                    img([src]='user_photo', width='35', height='35')


            mat-menu(#menu='matMenu')
                button(mat-menu-item='', (click)="navigateTo('/profile')")
                    mat-icon dialpad
                    span User profile
                button(mat-menu-item='', (click)='logOut()')
                    mat-icon exit_to_app
                    span Logout


        router-outlet