.example-icon
  padding: 0 14px

.example-spacer
  flex: 1 1 auto

.form-container
  display: flex
  flex-direction: column
  mat-form-field
    width: 100%
    &:nth-child(1)
      margin-bottom: 20px