mat-card
    form.form-container
        mat-form-field(hintLabel='Max 200 characters')
            input(matInput='', #input='', maxlength='200', placeholder='Message', name='message', [(ngModel)]="message")
            mat-hint(align='end') {{input.value?.length || 0}}/200
        button(mat-raised-button, color="primary", type="submit", (click)="addMessage()")
            | Send
            mat-icon send

    mat-list.posts
        .post-card(*ngFor="let msg of messages | async")
            .messages
                .msg-container
                    img([src]='msg.photoURL', width='35', height='35')
                    .message-content
                        h4(*ngIf="!(editingMode == msg.msg_id)", mat-line='') {{ msg.message }}
                        form.editMsgForm(*ngIf="editingMode == msg.msg_id", (ngSubmit)="editMessage(msg)")
                            mat-form-field.editing-full-width
                                input(*ngIf="editingMode == msg.msg_id", matInput='', [(ngModel)]='msg.message', [ngModelOptions]="{standalone: true}")
                        p(mat-line='') {{ msg.date }}
                        //p(mat-line='')
                .tools
                    button(mat-icon-button color="primary", *ngIf="msg.personal", (click)="editMessage(msg)")
                        mat-icon(aria-label="Delete message") edit
                    button(mat-icon-button color="warn", *ngIf="msg.personal", (click)="deleteMessage(msg)")
                        mat-icon(aria-label="Delete message") delete
            mat-divider